*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.page-title{
   
    background-color: rgb(206, 202, 202);
}

.page-title h1{
    font-size: 26px;
    margin-left: 20px;
    padding-top: 18px;
    margin-left: 25px;
    padding-bottom: 20px;
}
nav{

    background-color: rgb(31, 30, 30);
    color: rgb(253, 253, 252);
}

ul {
    list-style: none;
    display: flex;
     
}

ul li{
    float: left;
    display: block;
    font-size: 14px;
    padding: 6px 10px;
    border-right: 1px solid white;  
    padding-right: 12px;
    cursor: pointer;
    
}

ul li:hover{ 
    background-color: green;
}

.middle{
  
    overflow: hidden;
    display: flex;
}

.left{
    width: 65%;
   
    padding-left: 4%;
}

h1#page-head{
    color: rgb(0, 40, 45);
}
.right{
    width: 35%;
   
}

.left h1{
    margin-top: 20px;
}

p#left-para-one{
    margin-top: 1%;
    width: 95%;
    font-size: 14px;
    text-align: justify;
}


p#left-para-two{
    margin-top: 2%;
    width: 95%;
    font-size: 14px;
    text-align: justify;
}

p#left-para-three{
    margin-top: 2%;
    width: 95%;
    font-size: 14px;
    margin-bottom: 8%;
    text-align: justify;
}


.right{
    background-color:rgb(214, 211, 211);
    overflow: hidden;
    height: inherit;
    padding-left: 2%;
}

h2#right-head{
    color: rgb(2, 59, 67);
    margin-top: 20px;
}

p#right-para{
    margin-top: 5px;
  text-align: justify;
  padding-right: 20px;
}

footer{
    background-color:rgb(162, 159, 159);
}

p#copyright{
    text-align: right;
    padding-top: 12px;
    font-size: 15px;
    margin-right: 10px;
    padding-bottom: 11px;
}